* {
    box-sizing: border-box;}

 html,
 body {
     min-height: 100vh;
 }

 .wrapper {
     width: 1000px;
     height: 1000px;
     margin: 0 auto;
 }

 .list {
     display: flex;
     justify-content: center;
     align-content: center;
     flex-wrap: wrap;
     padding-bottom: 50px;
 }

 .list-item {
     width: 300px;
     height: 300px;
     background: lightblue;
     margin: 0 30px 30px 0;
 }
 .list-item:nth-child(3n) {
     margin-right: 0;
 }
 .list-item:nth-child(n+7) {
     margin-bottom: 0;
 }

.card {
    width: 520px;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-family: 'Roboto', sans-serif;
    transition: box-shadow 1s;
    margin-bottom: 50px;
}

.card .foto {
    transition: transform 0.5s; 
}

.name {
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    transition: transform 0.2s, color 0.3s;
}
.description {
    font-size: 20px;
    text-align: center;
}
button {
    display: block;
    width: 150px;
    height: 50px;
    border: 0;
    background-color: lightcoral;
    margin: 5px auto;
    font-size: 24px;
    font-weight: bold;
    transition: width 0.5s, background-color 1s;
}

button:hover {
    background-color: orange;
    width: 100%;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0,0,0,1);
}
.foto:hover {
    transform: rotate(5deg);
}
.name:hover  {
     color: orange;
     transform: scale(1.15)
 }

